:root{
   --light-theme : #ddd;
   --dark-theme : #333;
   --bg-color-pink : #FF00F5;
   --bg-color-blue : #7DF9FF;
   --bg-color-green : #2fff2f;
   --bg-color-yellow : #FFFF00;
   --bg-color-orange : #FF4911;
   --bg-color-violet : #3300FF;
}

*{
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--dark-theme);
   /*background: rgb(80,9,121);
   background: linear-gradient(90deg, rgba(80,9,121,1) 0%, rgba(122,33,154,1) 50%, rgba(196,0,255,1) 100%);*/
}

a {
   text-decoration: none;
}

/* width */
::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: #000;
}
::-webkit-scrollbar-thumb {
   background: #9932CC;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
   background: #AA43DD;
}


.title {
   width:100%;
   min-height: 80vh;
   aspect-ratio: 2/1;
   background: #000;
   position: relative;
   border-radius: 0 0 5px 5px;
   -webkit-border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
   -ms-border-radius: 0 0 5px 5px;
   -o-border-radius: 0 0 5px 5px;
}
.title-background {
   width: 100%;
   height: 100%;
   object-fit: cover;
   filter: blur(7px) brightness(30%);
   -webkit-filter: blur(7px) brightness(30%);
}
.title-content{
   font-family: 'Archivo Black', sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}
.title-content h1{  
   font-size: 2.5rem;
   color: #fff;
}
.title-content p{
   font-size: 1.5rem;
   color: #fff;
}
.title-github{
   /* change the color of the svg file to #ddd */
   filter : invert(1);
   -webkit-filter : invert(1);
   /* put it in the top left corner*/
   position: fixed;
   top: 0;
   left: 0;
   /* make it a little bit smaller */
   width: 5%;
   height: 5%;
   /* add some padding */
   padding: 0.5rem;
   z-index: 1;
}

.content {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.about-me, .languages {
   padding: 15rem;
   font-size: 1.5rem;
}

.about-me{
   padding-bottom: 4rem;
}

.about-me-content {
   width: 100%;
   background: var(--bg-color-orange);
}


.languages{
   padding-top: 4rem;
}

.languages-content{
   width: 100%;
   aspect-ratio: 6/1;
   background: var(--bg-color-violet);
   background-clip: content-box;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.languages-content :first-child{
   padding-left: 2rem;
}

.languages-content :last-child{
   padding-right: -2rem;
}

.sub-languages{
   width: 30%;
   aspect-ratio: 3/1;
}

.neo-brut-border {
   /*make a border in neobrutalism style*/
   border: 6px solid #000;
   box-shadow: 6px 6px #000;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.pad-l2 {
   padding-left: 2rem;
}

.pad2 {
   padding: 2rem;
}

.pad-down-15 {
   padding-bottom: 1.5rem;
}

.white-text {
   color : #ddd;
}

.wd-ht-60 {
   width: 16%;
   height: 16%;
}

.archivo-black {
   font-family: 'Archivo Black', sans-serif;
}

.poppins {
   font-family: 'Poppins', sans-serif;
}