* {
   margin: 0;
   padding: 0;
}

:root {
   --text-color1: #0069FF;
   --text-color2: #5C5F77;
}

header {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 50%;
   justify-content:space-evenly;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;
}

.round {
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   border: solid 2px #000;
   box-shadow: 5px 5px 4px 0px #000;
}

section {
   background-color: #F5F5F5;
}

.sub-section {
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 100vh;
   margin-left: auto;
   margin-right: auto;
}

h1 {
   font-family: 'Epilogue', sans-serif;
   font-size: 2.625rem;
}

h2 {
   font-family: 'Epilogue', sans-serif;
   font-size: 1.875rem;
   margin-top: 5rem;
}

#blue-text {
   color: var(--text-color1);
}

#gray-text {
   color: var(--text-color2);
}

.sub-text {
   font-family: 'JetBrains Mono', monospace;
   font-size: 1.375rem;
}

p {
   font-family: 'Inter', sans-serif;
   font-weight: 300;
   font-size: 1.2rem;
}