:root {
  --title-color-dark: #FFFFFF;
  --text-color1-dark: #EF4AA1;
  --text-color2-dark: #7e8199;
  --text-color3-dark: #4aef98;

  --highlight-color: #7e57c2;
  --highlight-rust-color: #f44a00;
  --highlight-python-color: #3776AB;

  --bg-color1-dark: #222222;
  --bg-color2-dark: #272727;

  --font-1 : 'Share Tech Mono', monospace;
  --font-2 : 'JetBrains Mono', monospace;
  --font-3 : 'Inter', sans-serif;
  --font-4 : 'Epilogue', sans-serif;
  --font-5 : 'Poppins', sans-serif;
  --font-6 : 'Consolas', monospace;
}

@font-face {
  font-family: 'Consolas';
  src: url('docs/Consolas.woff') format('woff'),
      url('docs/Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}