:root{
  --body-bg-color-light: #ddd;
  /* --body-bg-color-dark: #232634; */
  --term-bg-color: #212733;

  --body-bg-color-dark: #1f2430;

  --primary-color-light: #51576d;
  --primary-color-dark: #c6d0f5;
  --term-color: #73d0ff;
  --tkt-frere: #ffcc66;
  --link-color: #d5ff80;
  --cmd-title-color: #e38c8f;
  --cmd-elem-color: #e5c890;

  --border-radius: 8px;

  --gradient-end-light: #a9c12f;
  --gradient-end-dark: #ff00fd;

  /* just in case */
  --famicom-bg-color: #fcfcfc;
  --famicom-black-color: #000000;
  --famicom-gold-color: #846d21;
  --famicom-red-color: #940a24;
}

/* 
#d2991d 
#ab8ac1
*/